PKG_VERSION=2.0.22-stable
PKG_URI=https://github.com/libevent/libevent/releases/download/release-${PKG_VERSION}
PACKAGE=libevent-${PKG_VERSION}.tar.gz
SIGNATURE=libevent-${PKG_VERSION}.tar.gz.asc 
REPOSITORY="https://github.com/libevent/libevent.git"
