PKG_VERSION=1.3.3
PKG_URI=https://serf.googlecode.com/files
PACKAGE=serf-${PKG_VERSION}.tar.bz2
CHECKSUM_SHA1=b25c44a8651805f20f66dcaa76db08442ec4fa0e
REPOSITORY_SVN=http://serf.googlecode.com/svn/trunk/
