PKG_VERSION=8.0
PACKAGE=vim-${PKG_VERSION}.tar.bz2
CHECKSUM=ftp://ftp.vim.org/pub/vim/unix/MD5SUMS
PKG_URI=ftp://ftp.vim.org/pub/vim/unix
#REPOSITORY="https://github.com/libevent/libevent.git"
BUILD_DIR="${PROJECTS}/vim"     # configure does not work properly in out of source build
